@import "tailwindcss";

/* Theme: permite usar variaÃÅveis CSS dentro do Tailwind */
@theme { 
  /* Neutral colors */ 
  --color-neutral-white: #FFFFFF;
  --color-neutral-gray: #e5e7eb;
  --color-neutral-green: #79f8ec;
  --color-neutral-black: #000000;
   /* Primary colors */ 
  --color-primary-green: #0FBA55;
  --color-primary-yellow: #FFB60C;
  --color-primary-blue: #1E73BE;
  --color-primary-purple: #BD00CE;
   /* Secondary colors */
  --color-secondary-green: #00ee91;
  --color-secondary-purple: #a4367f;
  /* Tertiary colors */
  --color-tertiary-green: #42fff8;
  --color-tertiary-purple: #520e38;
  /* dark colors */
  --color-dark-purple: #370020;
  /* background */
  --background-image: url('../assets/imagens/points.png');
}

@layer base {
  * {
    
  }
}

body {
  margin: 0;
  padding: 0;
}